label {
  background-color: rgb(10, 10, 17);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  width: 45px;
  height: 45px;
  position: relative;
  border-style: solid;
  border-color: rgba(255, 0, 255, 0.427);
  will-change: filter;
  transition: 300ms;
}
label:hover {
  filter: drop-shadow(0 0 2em #f0f)
  /* drop-shadow(offset-x offset-y blur-radius color) - New learning*/
}

input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  /* I tried to bring as exemple the CSS style from my other project with pure js, but it seems that unfortunately, the React didn't allow the use of the same style. */
}