/* Estilização para o documento HTML, ou seja, eestilização geral. */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}