/* Estilização para o documento HTML, ou seja, estilização geral. */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

body {
  background-color: #e6dbdb;
  height: 100vh;
}